*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);

    color:white;

    min-height:100vh;

}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 80px;

}

nav h2{

    color:#38bdf8;

}

nav a{

    color:white;

    text-decoration:none;

    margin-left:25px;

}

.hero{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    height:80vh;

}

.hero h1{

    font-size:55px;

    margin-bottom:20px;

}

.hero p{

    width:700px;

    font-size:20px;

    line-height:35px;

    margin-bottom:35px;

}

button{

    padding:15px 35px;

    border:none;

    border-radius:8px;

    background:#38bdf8;

    color:white;

    font-size:18px;

    cursor:pointer;

}

button:hover{

    background:#0ea5e9;

}